<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Registration {% endblock %}</title>
</head>
<body>
    <h2 align="center">Registration Page</h2>
    <h3 align="center" style="color:red">{{ msg }}</h3>
        <form action="regdata" method="post">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="tb-username"></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input type="email" name="tb-email"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="tb-password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="btn-register" value="Register"></td>
                </tr>
            </table>
        </form>

</body>
</html>